{% extends "MDLCoreBundle::layout.html.twig" %}

{% block title %}
    Paiement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h2 class ="text-center">Paiement commande n°{{ registration.registrationCode }}</h2>

    <p><a href="{{ path('mdl_core_registration') }}"><button class="btn btn-danger"><i class="glyphicon glyphicon-chevron-left"></i> Modifier commande </button></a></p>

    <p>Vous trouverez ici le récapitulatif de votre commande :</p>

    <p>Date de réservation : {{ registration.date |date("d/m/Y") }}</p>

    <div class="table-respondive">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tarif appliqué</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ registration.totalPrice }}€</td>
                </tr>
            </tfoot>
            <tbody>
            {% for tableLine in tableLines %}
                <tr scope="row">
                    <td>{{ tableLine.nom }}</td>
                    <td>{{ tableLine.prenom }}</td>
                    <td>{{ tableLine.tarif }}</td>
                    <td>{{ tableLine.prix }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <p>Type de réservation : {{ registration.ticketDuration }}</p>

    <p>Merci de rentrer vos informations de paiement pour finaliser la commande (vous recevrez vos billets par mail une fois le paiement finalisé) : </p>

            <div id="status">
                <p>
                <form action="{{ path('mdl_core_payment',{'id' : registration.id }) }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test"
                            data-amount="{{ registration.totalPrice*100 }}"
                            data-name="Réservation de {{ registration.nbTicket }} billet(s)"
                            data-description="Pour le {{ registration.date|date("d/m/y") }}"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
                </p>
            </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}