{% extends "MDLCoreBundle::layout.html.twig" %}

{% block title %}
    Paiement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #welcome h1 span { display: block; font-size: 75%; }

        @media (min-width: 768px) {
            #status a, #next a { display: block; }
            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        }
    </style>
{% endblock %}

{% block body %}
    <h2 class ="text-center">Paiement commande n°{{ registration.registrationCode }}</h2>

    <p>Vous trouverez ici le récapitulatif de votre commande :</p>

    <div class="table-respondive">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tarif appliqué</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ registration.totalPrice }}€</td>
                </tr>
            </tfoot>
            <tbody>
            {% for tableLine in tableLines %}
                <tr scope="row">
                    <td>{{ tableLine.nom }}</td>
                    <td>{{ tableLine.prenom }}</td>
                    <td>{{ tableLine.tarif }}</td>
                    <td>{{ tableLine.prix }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <p>Merci de rentrer vos informations de paiement pour finaliser la commande (vous recevrez vos billets par mail une fois le paiement finalisé) : </p>

            <div id="status">
                <p>
                <form action="{{ path('mdl_core_payment',{'id' : registration.id }) }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test"
                            data-amount="{{ registration.totalPrice*100 }}"
                            data-name="Réservation de {{ registration.nbTicket }} billet(s)"
                            data-description="Pour le {{ registration.date|date("d/m/y") }}"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
                </p>
            </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}