{% extends "MDLCoreBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"/>
{% endblock %}

{% block body %}

    <h2 class ="text-center">Billetterie du musée du Louvre</h2>

    <p>Veuillez entrer les champs suivants pour réserver vos places pour visiter le musée du Louvre :</p>

    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            <strong>Attention !</strong>
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}


    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="well">


        {# Génération du label + error + widget pour un champ. #}
        {# Génération manuelle et éclatée : #}
        <div class="row">
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.email) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    <div class="input-group input-append">
                        <span class="input-group-addon add-on"><span class="glyphicon">@</span></span>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.date, "Date de visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}


                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    <div class="input-group input-append date" id="datepicker">
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.date) }}
                </div>
            </div>
        </div>

        <div class="hidden_zone">
                <div class="row">
                    <div class="form-group ticket_duration">
                        {# Génération du label. #}
                        {{ form_label(form.ticketDuration, "Validité des tickets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.ticketDuration) }}

                        <div class="col-sm-10">
                            {# Génération de l'input. #}
                            {{ form_widget(form.ticketDuration, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group test">
                        {{ form_label(form.visitors)}}
                        <div class="col-sm-12 visitors">
                            {{ form_widget(form.visitors)}}
                        </div>
                    </div>
                    <a href="#" id="add_visitor" style="margin-bottom: 10px" class="btn btn-default ">Ajouter un visiteur</a>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_widget(form.save)}}
                    </div>
                </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/fr_FR.js"></script>
    <script type="text/javascript">
        $(function()
        {
            var currentDate = new Date();

            //Configuration du calendrier (langue, dates désactivés, fermeture automatique...)
            $('.hidden_zone').hide();
            $('#datepicker').datepicker(
                {
                    autoclose : true,
                    language :"fr-FR",
                    datesDisabled : ["01/05/yyyy","01/11/yyyy","25/12/yyyy"],
                    daysOfWeekDisabled : [2,0],
                    startDate : currentDate
                }
            );

            //Récupération de la valeur choisie et formatage. Affichage de la suite du formulaire
            $('#datepicker').val();

            var pickedDate = $('#datepicker').datepicker('getFormattedDate');
            $('#datepicker').on('changeDate', function() {
                var date = $('#mdl_corebundle_registration_date').val();
                date = date.split("/").reverse().join("-");
                $.ajax({
                    url: "{{path('mdl_core_checkdate')}}",
                    method: "post",
                    data : {date : date}
                }).done(function(msg)
                {
                    dateChecking(msg);
                });
                $('#registration_date').val(pickedDate);
                $('#date_selected').text(
                    $('#datepicker').datepicker('getFormattedDate')
                );
            });


            function dateChecking(msg) {
                if($('.messageCheck'))
                {
                    $('.messageCheck').remove();
                }
                $('#mdl_corebundle_registration_date').parent().parent().append(jQuery.parseJSON(msg['reponse']));
                if(jQuery.parseJSON(msg['limit']))
                {
                    $('.hidden_zone').hide();
                }else{
                    $('.hidden_zone').show();
                }
            }
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/ticket_duration.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visitor.js') }}"></script>
{% endblock %}

