{% extends "MDLCoreBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

{% endblock %}

{% block body %}

    <h2 class ="text-center">Billetterie du musée du Louvre</h2>

    <p>Veuillez entrer les champs suivants pour réserver vos places pour visiter le musée du Louvre :</p>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération du label + error + widget pour un champ. #}
        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.email) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.date, "Date de réservation", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.date) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                <div class="row">
                    <div class="col-sm-5">
                        <div id="datepicker"></div>
                    </div>
                    <div class="col-sm-5">
                        <div id="date_selected"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group ticket_duration">
            {# Génération du label. #}
            {{ form_label(form.ticketDuration, "Validité des tickets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.ticketDuration) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.ticketDuration, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>



        {{ form_row(form.visitors) }}
        <a href="#" id="add_visitor" class="btn btn-default">Ajouter un visiteur</a>

        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/calendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ticket_duration.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visitor.js') }}"></script>
{% endblock %}

{% endblock %}